<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    <header>
      {{>header}}
    </header>
 <div class="banner-area">
      <h1>Hi! My name is Thomas</h1>
    </div>
    <div class="about-site">
      <h1>About this Website</h1>
      <br />
      <p>
        I go to Amalie Skram VGS in Bergen and have created this website as part
        of a school project.
      </p>
    </div>
    <footer>
      {{>footer}}
    </footer>
  </body>
</html>