<div class="menu-area">
      <ul>
        <li><a href="./">Home</a></li>
        <li>
          <a href="/subjects">Subjects ▼</a>
          <ul class="dropdown-1">
            <li>
              <a href="./Subjects/Teknologifortaaelse/teknologi.html"
                >Teknologiforstålse ▼</a
              >
              <ul class="dropdown-2">
                <li>
                  <a
                    href="./Subjects/Teknologifortaaelse/Sosiale_Medier/sosmedia.html"
                    >Sosiale Medier</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="./Subjects/Programmering/prog.html"
                >Konsept. og Programmering</a
              >
              <ul class="dropdown-2">
                <li>
                  <a href="./Subjects/Programmering/Lego Mindstorm/lego.html"
                    >Lego Mindstorms</a
                  >
                </li>
                <li>
                  <a href="./Subjects/Programmering/PowerApps/powerapps.html"
                    >PowerApps</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="./Subjects/Historie og Medieproduksjon/medieprod.html"
                >Historie og Medieprodukjson ▼</a
              >
              <ul class="dropdown-2">
                <li>
                  <a
                    href="./Subjects/Historie og Medieproduksjon/4 bildehist/bildehistorie.html"
                    >Bildehistorie</a
                  >
                </li>
                <li>
                  <a
                    href="./Subjects/Historie og Medieproduksjon/Fotoprosjekt/fotoprosjekts.html"
                    >fotoprosjekts</a
                  >
                </li>
                <li>
                  <a
                    href="./Subjects/Historie og Medieproduksjon/Film/film.html"
                    >Film</a
                  >
                </li>
              </ul>
            </li>
            <li><a href="#">Naturfag</a></li>
          </ul>
        </li>

        <li><a href="./Projects/projects.html">Projects</a></li>
        <li><a href="./About_Me/aboutme.html">About Me</a></li>
      </ul>
    </div>